@import '_style.scss';

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  .banner {
    width: 100%;
    min-height: 242px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 8%;
  }

  @media screen and (min-width: 600px) {
    .banner {
      width: 100%;
      min-height: 400px;
      background-size: cover;
      background-position: center;
      position: relative;
    }
  }
  @media screen and (min-width: 900px) {
    .banner {
      width: 100%;
      min-height: 560px;
      margin-top: 5%;
    }
  }
  @media screen and (min-width: 1200px) {
    .banner {
      width: 75%;
      min-height: 550px;
    }
  }
}
.products_content {
  width: 100%;
  margin: 5% 0;
  .products_content_nav {
    width: 100%;
    box-sizing: border-box;
    > ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: color(other, white);
      > li {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: nth($font, 3);
        box-sizing: border-box;
        border: 1px solid color(color_gray, light);
        border-top: none;
        font-weight: 500;
        a {
          box-sizing: border-box;
          display: flex;
          width: 100%;
          padding: 0 5%;
          color: color(color_teal, dark);
          &:active {
            background-color: color(color_gray, light);
          }
          &:hover {
            background-color: color(color_gray, light);
          }
        }
      }
      .list_title {
        background-color: color(color_teal, dark);
        color: #fff;
        border: none;
        padding: 0 5%;
      }
      .all_product {
        display: flex;
        flex-direction: column;
        height: auto;
        .all_product_item {
          display: flex;
          align-items: center;
          width: 100%;
          box-sizing: border-box;
          position: relative;
          .more_item {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            padding: 0;
            right: 5%;
            border-radius: 50%;
            &:active {
              background-color: color(color_yellow, light);
            }
            &:hover {
              background-color: color(color_yellow, light);
            }
          }
        }
        .all_product_item_list {
          display: flex;
          flex-direction: column;
          font-size: nth($font, 2);
          padding: 0 5%;
          margin-bottom: 10px;

          li {
            background-color: color(other, white);
            height: 30px;
            line-height: 30px;
            a {
              box-sizing: border-box;
              padding: 0 24px;
              &:active {
                background-color: color(color_yellow, white);
              }
              &:hover {
                background-color: color(color_yellow, white);
              }
            }
          }
        }
      }
      .selected {
        background-color: color(color_gray, white);
      }
    }
  }
  .product_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    .product_list_content {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      li {
        width: 90%;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
      }
    }
    .product_box {
      width: 100%;
      position: relative;
      display: flex;

      .product_box_img {
        width: 100%;
        height: 315px;
        background-size: cover;
        background-position: center;
      }
      .type_tag {
        display: flex;
        writing-mode: vertical-lr;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 10px;
        top: 0;
        left: 20px;
        background-color: color(color_teal, dark);
        color: color(other, white);
        font-weight: 300;
        letter-spacing: 5px;
        line-height: 20px;
        box-shadow: 1px 1px 1px color(color_teal, dark050);
      }
      .favorite_icon {
        position: absolute;
        right: 22px;
        top: 19px;
        a {
          color: color(color_teal, dark);
          font-size: nth($font, 4);
        }
      }
    }
    .product_box_item {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 56px;
      width: 100%;
      .product_box_name,
      .product_box_dollar {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: nth($font, 2);
        border: 1px solid color(color_gray, light);
        background-color: color(color_gray, white);
        color: color(color_teal, dark);
        padding: 5px;
        line-height: 24px;
      }
      .product_box_name {
        width: 58%;
        font-weight: 300;
      }
      .product_box_dollar {
        width: 42%;
        font-weight: 400;
      }
    }
    .add_btn {
      cursor: pointer;
      width: 100%;
      height: 65px;
      border: none;
      background-color: color(color_gray, light);
      color: color(color_teal, dark);
      font-size: nth($font, 3);
      font-weight: 500;
      outline: none;
      &:hover {
        background-color: color(color_teal, dark);
        color: color(other, white);
      }
      &:active {
        box-shadow: 0 0 5px color(color_gray, dark);
      }
    }
  }
  @media screen and (min-width: 600px) {
    .products_content_nav {
      width: 80%;
      margin: 0 auto;
    }
    .product_list {
      width: 95%;
      margin: 0 auto;
      .product_list_content {
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        li {
          width: 48%;
        }
      }
    }
  }
  @media screen and (min-width: 900px) {
    display: flex;
    justify-content: center;
    .products_content_nav {
      flex: 1;
      width: 80%;
      margin: 0 auto;
      margin-left: 20px;
      > ul li {
        height: 50px;
        line-height: 50px;
      }
    }
    .product_list {
      flex: 2;
      margin-top: -20px;
      .product_list_content {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
          width: 45%;
          display: flex;
        }
      }
      .product_box {
        width: 100%;
        position: relative;
        display: flex;

        .product_box_img {
          width: 100%;
          height: 300px;
          background-size: cover;
          background-position: center;
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: flex-end;
      margin-right: 3%;
      margin-top: 30px;

      li {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: color(color_teal, dark);
        width: 50px;
        height: 50px;
        background-color: color(other, white);
        border: 1px solid color(color_gray, gray);
        font-size: nth($font, 3);
        &:hover {
          background-color: color(color_teal, dark);
          color: color(color_gray, white);
        }
      }

      .go_back {
        border-radius: 5px 0 0 5px;
        &:hover {
          color: color(color_gray, white);
        }
      }

      .go_ahead {
        border-radius: 0px 5px 5px 0;
        &:hover {
          color: color(color_gray, white);
        }
      }

      .lastPage {
        border-radius: 0px 5px 5px 0;
      }

      .firstPage {
        border-radius: 5px 0 0 5px;
      }

      .currentPage {
        color: color(color_gray, gray);
        cursor: default;

        &:hover {
          background-color: color(other, white);
          color: color(color_gray, gray);
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    width: 75%;
    .products_content_nav {
      margin-left: 0px;
      margin-right: 5%;
      ul {
        width: 100%;
        margin-left: auto;
      }
    }
    .product_list {
      flex: 2;
      margin-top: -20px;
      .product_list_content {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          width: 48%;
          display: flex;
        }
      }
      .product_box {
        .product_box_img {
          height: 280px;
        }
      }
      .product_box_item {
        .product_box_name,
        .product_box_dollar {
          font-size: nth($font, 2);
        }
      }
    }
    .pagination {
      margin-top: 10%;
      margin-right: 0%;
    }
  }
  @media screen and (min-width: 1400px) {
    .products_content_nav {
      margin-left: 0px;
      margin-right: 3%;
      ul {
        width: 100%;
        margin-left: auto;
      }
    }
    .product_list {
      flex: 3;
      margin-top: -20px;
      .product_list_content {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          width: 31%;
          display: flex;
        }
      }
    }
  }
}
